.nitro
.tanstack
.output/
.cache/
.agents/
.codex/
.DS_Store
.vscode/
.claude/
.cta.json
.jj/
.ansible/
node_modules
*.tsbuildinfo
.devcontainer/devcontainer-lock.json

mise.local.toml
*.local
.env
.env.*
!.env.example
local.db*
local-prod.db*


/*.md
!/README.md
!/CONTRIBUTING.md

s/
